@import '../abstract/variaveis';


//header página inicial

header{
    background-color: $header;
.header__container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    .menu__sanduiche{
        display: none;
    }

    .header__botoes{
        display: flex;
        gap: 32px;
        

      .header__itens{
        text-decoration: none;
        color: $cor-fonte;
        font-weight: 700;
        font-size: 20px;
        gap: 32px;
        &:hover{
            color: $coral;
        }
    }  
    }
    
}
}



@media screen and (max-width: 768px){

header{

   .header__container{
        justify-content: center;
    }  

}
   
}



@media screen and (max-width: 1024px){

    header{
    
       .header__container{
            justify-content: space-around;
        }  
        
    }
       
}

@media screen and (max-width: 425px){

    header{
        
       .header__container{
            display: flex;
            justify-content: space-evenly;
        .logo{
            a{
                img{
                width: 150px;
            }
            }
            
        }
        .menu__sanduiche{
            display: block;
        }
            .header__botoes{
                display: none;
                flex-direction: column;
                position: absolute;
                background-color: $header;
                padding: 1.5rem;
                top: 105px;
                right: 0px;
                a{
                    border-bottom: 2px solid $cor-fonte;
                    padding-bottom: 1rem;
                    text-align: center;
                    &:last-child{
                        padding-bottom: none;
                        border-bottom: none;
                    }
                }
                
            }
        }  
        
    }



       
}