//fontes
$fonte-banner:'Calistoga', cursive;
$fonte-principal: 'Raleway', sans-serif;



//cores 
$header: #4650BD;
$background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);;
$azul-escuro: #304968;
$coral: #36C1A0;
$verde-escuro:#008364;
$cor-fonte: #FFF;




